<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script >
import Vue from "vue";
import decode from "jwt-decode";
export default {
  name: "app",
  components: {},
  methods: {
    isEmpty: (value) => {
      return (
        value == null ||
        value == undefined ||
        (typeof value == "Object" && Object.keys(value).length == 0) ||
        (typeof value == "String" && value.trim().length == 0)
      );
    },
  },
  created() {
    if (localStorage.eleToken) {
      let user = decode(localStorage.eleToken);
      this.$store.dispatch("setAuthenticate", !this.isEmpty(user));
      this.$store.dispatch("setUser", user);
    }
  },
};
</script>

<style>
#app {
  height: 100%;
  width: 100%;
}
</style>
