<template>
  <div class="fillcontain">
    <div>
      <el-date-picker
        v-model="timeSelect"
        type="datetimerange"
        :picker-options="pickerOptions"
        range-separator="ถึง"
        start-placeholder="วันที่เริ่มต้น"
        end-placeholder="วันที่สิ้นสุด"
        align="right"
      >
      </el-date-picker>
      <el-button icon="view" @click="timeFilter()">Filter</el-button>
    </div>
    <div class="">
      <el-form :inline="true" ref="add_data">
        <el-form-item class="btnRight">
          <el-button
            v-if="user.identity=='manager'"
            type="primary"
            size="small"
            icon="view"
            @click="handleAdd()"
            >เพิ่ม</el-button
          >
        </el-form-item>
      </el-form>
    </div>
    <div class="table_container">
      <el-table
        v-if="tableData.length > 0"
        :data="tableData"
        border
        max-height="450"
        style="width: 100%"
      >
        <el-table-column
          type="index"
          label="หมายเลขซีเรียล"
          width="78"
          align="center"
        >
        </el-table-column>
        <el-table-column
          prop="date"
          label="ชั่วโมงการทำธุรกรรม"
          width="250"
          align="center"
        >
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            <span style="margin-left: 10px">{{ scope.row.date }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="type" label="ชนิด" width="150" align="center">
        </el-table-column>
        <el-table-column
          prop="describe"
          label="อธิบาย"
          width="180"
          align="center"
        >
        </el-table-column>
        <el-table-column
          prop="income"
          label="รายได้"
          width="170"
          align="center"
        >
          <template slot-scope="scope">
            <span style="color: green">{{ scope.row.income }}</span>
          </template>
        </el-table-column>
        <el-table-column
          prop="expend"
          label="รายจ่าย"
          width="170"
          align="center"
        >
          <template slot-scope="scope">
            <span style="color: red">{{ scope.row.expend }}</span>
          </template>
        </el-table-column>
        <el-table-column
          prop="cash"
          label="จำนวนเงินในบัญชี"
          width="170"
          align="center"
        >
          <template slot-scope="scope">
            <span style="color: blue">{{ scope.row.cash }}</span>
          </template>
        </el-table-column>
        <el-table-column
          prop="remark"
          label="ข้อสังเกต"
          width="150"
          align="center"
        >
        </el-table-column>
        <el-table-column v-if="user.identity=='manager'" label="ปฏิบัติการ" width="200" align="center">
          <template slot-scope="scope">
            <el-button
              size="mini"
              icon="edit"
              @click="handleEdit(scope.$index, scope.row)"
              >แก้ไข</el-button
            >
            <el-button
              size="mini"
              type="danger"
              icon="delete"
              @click="handleDelete(scope.$index, scope.row)"
              >ลบ</el-button
            >
          </template>
        </el-table-column>
      </el-table>
    </div>
    <Dialog :dialog="dialog" @update="getProfile" :fundForm="fundForm" />
  </div>
</template>

<script>
import Dialog from "../components/Dialog";
export default {
  name: "FundList",
  computed:{
    user(){return this.$store.getters.user}
  },
  data() {
    return {
      fundForm: {},
      tableData: [],
      dialog: {
        show: false,
        title: "",
        option: "edit",
      },
      timeSelect: [new Date(1900, 0, 1, 0, 0), Date.now()],
      filtedTableData: [],
      pickerOptions: {
        shortcuts: [
          {
            text: "อาทิตย์ที่แล้ว",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", [start, end]);
            },
          },
          {
            text: "เดือนที่แล้ว",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit("pick", [start, end]);
            },
          },
          {
            text: "3เดือนที่แล้ว",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit("pick", [start, end]);
            },
          },
        ],
      },
    };
  },
  components: {
    Dialog,
  },
  created() {
    this.getProfile();
  },
  methods: {
    getProfile(filterTableData) {
      this.$axios
        .get("/api/profiles/all")
        .then((res) => {
          this.tableData = res.data;
          this.filtedTableData = res.data
        })
        .catch((err) => {
          this.$message({
            message: err.response.data.error
              ? err.response.data.error
              : "ระบบผิดพลาด!",
            type: "error",
          });
        });
    },
    handleEdit(index, row) {
      this.fundForm = row;
      this.dialog.title = "แก้ไข";
      this.dialog.option = "edit";
      this.dialog.show = true;
    },
    handleDelete(index, row) {
      this.$axios
        .delete("api/profiles?profile_id=" + row._id)
        .then((res) => {
          this.$message({
            message: "ลบสำเร็จแล้ว",
            type: "success",
          });
          this.getProfile();
        })
        .catch((err) => {
          this.$message({
            message: "ลบไม่สำเร็จ",
            type: "error",
          });
        });
    },
    handleAdd() {
      this.fundForm = {
        cash: 0,
        expend: 0,
        income: 0,
        date: Date.now(),
        describe: "",
        remark: "",
        type: "",
      };
      this.dialog.title = "เพิ่มบันทึกรายรับและรายจ่าย";
      this.dialog.option = "add";
      this.dialog.show = true;
    },
    timeFilter() {
      if (!this.timeSelect[0] || !this.timeSelect[1]) {
        this.$message({
          type: "warning",
          message: "โปรดเลือกช่วงเวลา",
        });
        this.getProfile();
      } else {
        const start = this.timeSelect[0];
        const end = this.timeSelect[1];
        this.tableData = this.filtedTableData.filter((item) => {
          if (new Date(item.date) >= start && new Date(item.date) <= end)
            return item
        });
      }
    },
  },
};
</script>

<style>
.fillcontain {
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}
.btnRight {
  float: right;
}
.pagination {
  text-align: right;
  margin-top: 10px;
}
</style>