<template>
  <div class="home">
      <div class="container">
          <h1>ระบบข้อมูล</h1>
          <p class="lead">จัดการบิลขององค์กร

          </p>
      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.home {
  width: 100%; 
  height: 100%;
  background: url(../assets/showcase.png) no-repeat;
  background-size: 100% 100%;
}
.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: white;
}
.title {
  font-size: 30px;
}
h1{
    font-size: 40px;
}
.lead {
  margin-top: 50px;
  font-size: 22px;
}
</style>