<template>
  <div class="login">
    <section class="form_container">
      <div class="manage_tip">
        <span class="title"
          >ระบบการจัดการส่วนหลัง
          <el-form
            :model="loginUser"
            status-icon
            :rules="rules"
            ref="loginForm"
            label-width="100px"
            class="loginForm"
          >
            <el-form-item label="อีเมล์" prop="email">
              <el-input
                v-model="loginUser.email"
                placeholder="please input email"
                autocomplete="off"
              ></el-input>
            </el-form-item>

            <el-form-item label="รหัสผ่าน" prop="password">
              <el-input
                type="password"
                v-model="loginUser.password"
                placeholder="please input password"
                autocomplete="off"
              ></el-input>
            </el-form-item>

            <el-form-item>
              <el-button
                type="primary"
                class="submit_btn"
                @click="submitForm('loginForm')"
                >เข้าสู่ระบบ</el-button
              >
            </el-form-item>
            <div class="tiparea">
              <p>
                ยังไม่มีบัญชี?<router-link to="/register"
                  >ลงทะเบียน</router-link
                >
              </p>
            </div>
          </el-form>
        </span>
      </div>
    </section>
  </div>
</template>

<script>
import decode from "jwt-decode";
import qs from "qs";
export default {
  name: "Login",
  data() {
        var validatePass =(rule,value,callback)=>{
            let regex = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{0,}$/;
            if(!value.match(regex)){
                callback(new Error('password should include at least One letter and One number'))
            }else{
                callback()
            }
        }
    return {
      loginUser: {
        email: "",
        password: "",
      },
      rules: {
        email: [
            {
            required: true,
            message: "email cannot be empty!",
            trigger: "blur",
          },
          {
            type: "email", //验证类型
            message: "email illegal!",
            trigger: "blur", //失去焦点时（输入完点到下面到输入框时）触发检查
          },
        ],
        password:[
            {
            required: true,
            message: "password cannot be empty!",
            trigger: "blur",
          },
          {
            min: 6,
            max: 30,
            message: "length should between 2 to 30",
            trigger: "blur", //失去焦点时（输入完点到下面到输入框时）触发检查
          },
          {
            validator: validatePass,
            trigger: "blur",
          },
        ]
      },
    };
  },
  methods:{
      submitForm(formname){
          this.$refs[formname].validate(valid=>{
              if(valid){
                  this.$axios.post('api/users/login',qs.stringify(this.loginUser))
                  .then(res=>{
                    this.$message({
                        message:'เข้าสู่ระบบสำเร็จ',
                        type:'success'
                    })
                    //token
                    let token = res.data.token
                    localStorage.setItem('eleToken',token)

                    const user = decode(token)

                    this.$store.dispatch('setAuthenticate',!this.isEmpty(user))
                    this.$store.dispatch("setUser",user)

                    this.$router.push('/index')
                  }).catch(err=>{
                    console.log(err)
                    this.$message({
                        message:err.response.data.error,
                        type:'error'
                    })
                  })
              }
          })
      },
      isEmpty(value) {
      return (
        value == undefined ||
        value === null ||
        (typeof value == "object" && Object.keys(value).length === 0) ||
        (typeof value == "String" && value.trim().length === 0)
      );
    },
  }
};
</script>

<style scoped>
.login {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../assets/bg.jpg) no-repeat center center;
  background-size: 100% 100%;
}
.form_container {
  width: 370px;
  height: 210px;
  position: absolute;
  top: 20%;
  left: 34%;
  padding: 25px;
  border-radius: 5px;
  text-align: center;
}
.form_container .manage_tip .title {
  font-family: "Microsoft YaHei";
  font-weight: bold;
  font-size: 26px;
  color: #fff;
}
.loginForm {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px 40px 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #cccc;
}

.submit_btn {
  width: 100%;
}
.tiparea {
  text-align: right;
  font-size: 12px;
  color: #333;
}
.tiparea p a {
  color: #409eff;
}
</style>