<template>
  <div class="register">
    <section class="form_container">
      <div class="manage_tip">
        <span class="title"
          >ระบบการจัดการส่วนหลัง
          <el-form
            :model="registerUser"
            status-icon
            :rules="rules"
            ref="registerForm"
            label-width="100px"
            class="registerForm"
          >
            <el-form-item label="ชื่อผู้ใช้" prop="name">
              <el-input
                v-model="registerUser.name"
                placeholder="please input username"
                autocomplete="off"
              ></el-input>
            </el-form-item>

            <el-form-item label="อีเมล์" prop="email">
              <el-input
                v-model="registerUser.email"
                placeholder="please input email"
                autocomplete="off"
              ></el-input>
            </el-form-item>

            <el-form-item label="รหัสผ่าน" prop="password">
              <el-input
                type="password"
                v-model="registerUser.password"
                placeholder="please input password"
                autocomplete="off"
              ></el-input>
            </el-form-item>

            <el-form-item label="ยืนยันรหัสผ่าน" prop="password2">
              <el-input
                type="password"
                v-model="registerUser.password2"
                placeholder="please input password again"
                autocomplete="off"
              ></el-input>
            </el-form-item>

            <el-form-item label="เอกลักษณ์" prop="identity">
              <el-select
                v-model="registerUser.identity"
                placeholder="please select identity"
              >
                <el-option label="manager" value="manager"> </el-option>
                <el-option label="worker" value="worker"> </el-option>
              </el-select>
            </el-form-item>

            <el-form-item>
              <el-button
                type="primary"
                class="submit_btn"
                @click="submitForm('registerForm')"
                >ลงทะเบียน</el-button
              >
            </el-form-item>
            <div class="tiparea">
              <p>
                มีบัญชีอยู่แล้ว?<router-link to="/login">เข้าสู่ระบบ</router-link>
              </p>
            </div>
          </el-form>
        </span>
      </div>
    </section>
  </div>
</template>

<script>
import qs from "qs";
export default {
  name: "Register",
  commponents: {},
  data() {
    var validatePass2 = (rule, value, callback) => {
      if (value !== this.registerUser.password) {
        callback(new Error("twice password input not same!"));
      } else {
        callback();
      }
    };
    var validatePass = (rule, value, callback) => {
      let regex = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{0,}$/;
      if (!this.registerUser.password.match(regex)) {
        callback(
          new Error(
            "password should include at least One letter and One number"
          )
        );
      } else {
        callback();
      }
    };
    return {
      registerUser: {
        name: "",
        email: "",
        password: "",
        password2: "",
        identity: "",
      },
      rules: {
        name: [
          {
            required: true,
            message: "username cannot be empty!",
            trigger: "blur", //失去焦点时（输入完点到下面到输入框时）触发检查
          },
          {
            min: 2,
            max: 30,
            message: "length should between 2 to 30",
            trigger: "blur", //失去焦点时（输入完点到下面到输入框时）触发检查
          },
        ],
        email: [
          {
            type: "email", //验证类型
            message: "email illegal!",
            trigger: "blur", //失去焦点时（输入完点到下面到输入框时）触发检查
          },
        ],
        password: [
          {
            required: true,
            message: "password cannot be empty!",
            trigger: "blur",
          },
          {
            min: 6,
            max: 30,
            message: "length should between 2 to 30",
            trigger: "blur", //失去焦点时（输入完点到下面到输入框时）触发检查
          },
          {
            validator: validatePass,
            trigger: "blur",
          },
        ],
        password2: [
          {
            required: true,
            message: "confirmed password cannot be empty!",
            trigger: "blur",
          },
          {
            min: 6,
            max: 30,
            message: "length should between 2 to 30",
            trigger: "blur", //失去焦点时（输入完点到下面到输入框时）触发检查
          },
          {
            validator: validatePass2,
            tigger: "blur",
          },
        ],
        identity: [
          {
            required: true,
            message: "please choose at least One identity",
            trigger: "change",
          },
        ],
      },
    };
  },
  methods: {
    submitForm(formname) {
      //ref="registerForm"
      this.$refs[formname].validate((valid) => {
        if (valid) {
          this.$axios({
            url: "/api/users/register",
            data: qs.stringify(this.registerUser),
            method: "post",
          })
            //有一点需要注意的是，axios中POST的默认请求体类型为Content-Type:application/json（JSON规范流行），
            //这也是最常见的请求体类型，也就是说使用的是序列化后的json格式字符串来传递参数，
            //如：{ “name” : “mike”, “sex” : “male” }；同时，后台必须要以支持@RequestBody的形式接收参数，否则会出现前台传参正确，后台接收不到的情况。
            .then((res) => {
              this.$message({
                //element的message方法 前端弹窗显示
                message: "ลงทะเบียนสำเร็จ",
                type: "success",
              });
            })
            .catch((err) => {
              let message = err.response.data.error?err.response.data.error:'ระบบเกิดข้อผิดพลาดโปรดติดต่อผู้ดูแลระบบ!'
              this.$message({
                message: "ลงทะเบียนไม่สำเร็จ เหตุผล:" + message,
                type: "error",
              });
              this.$router.push("/register");
              return false;
            });

          this.$router.push("/login");
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
  },
};
</script>

<style scoped>
.register {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../assets/bg.jpg) no-repeat center center;
  background-size: 100% 100%;
}
.form_container {
  width: 370px;
  height: 210px;
  position: absolute;
  top: 10%;
  left: 34%;
  padding: 25px;
  border-radius: 5px;
  text-align: center;
}
.form_container .manage_tip .title {
  font-family: "Microsoft YaHei";
  font-weight: bold;
  font-size: 26px;
  color: #fff;
}
.registerForm {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px 40px 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #cccc;
}
.tiparea {
  text-align: right;
  font-size: 12px;
  color: #333;
}
.tiparea p a {
  color: #409eff;
}
</style>