<template>
  <div class="dialog">
    <el-dialog
      :title="dialog.title"
      :visible="dialog.show"
      :close-on-press-escape="false"
      :close-on-click-modal="false"
      :append-to-body="true"
      :show-close="false"
    >
      <el-form
        ref="form"
        :model="fundForm"
        :rules="rules"
        :label-width="formLabelWidth"
        style="margin: 10px; width: auto"
      >
        <el-form-item prop="describe" label="อธิบาย">
          <el-input v-model="fundForm.describe" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item prop="income" label="รายได้">
          <el-input v-model="fundForm.income" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item prop="expend" label="รายจ่าย">
          <el-input v-model="fundForm.expend" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item prop="cash" label="จำนวนเงินในบัญชี">
          <el-input v-model="fundForm.cash" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item prop="type" label="วิธีการรายรับและรายจ่าย">
          <el-select
            v-model="fundForm.type"
            placeholder="กรุณาเลือกชนิดรายรับและรายจ่าย"
            :clearable="false"
          >
            <el-option
              label="โอนเงินด้วยธนาคาร"
              value="โอนเงินด้วยธนาคาร"
            ></el-option>
            <el-option label="Alipay" value="Alipay"></el-option>
            <el-option label="linePay" value="linePay"></el-option>
            <el-option label="promptpay" value="promptpay"></el-option>
            <el-option label="เงินสด" value="เงินสด"></el-option>
            <el-option label="อื่น ๆ" value="อื่น ๆ"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="เวลา">
          <el-date-picker
            v-model="fundForm.date"
            type="datetime"
            placeholder="กรุณาเลือกเวลา"
            align="left"
            :picker-options="pickerOptions"
            :clearable="false"
          >
          </el-date-picker>
        </el-form-item>
        <el-form-item label="ข้อสังเกต">
          <el-input
            v-model="fundForm.remark"
            type="textarea"
            autocomplete="off"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel()">ยกเลิก</el-button>
        <el-button type="primary" @click="submitForm()">แน่นอน</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import qs from "qs";
export default {
  name: "Dialog",
  methods: {
    submitForm() {
      this.$refs['form'].validate((valid) => {
        if (valid) {
            const url = this.dialog.option=='add'?"api/profiles/":'api/profiles/edit?profile_id='+this.fundForm._id
          this.$axios
            .post(url, qs.stringify(this.fundForm))
            .then((res) => {
              this.$message({
                message: "เพิ่มเรียบร้อยแล้ว",
                type: "success",
              });
              //更新列表
              this.$emit("update");
              //关闭添加弹窗
              this.cancel();
            })
            .catch((err) => {
              this.$alert(
                err.response.data.error
                  ? err.response.data.error
                  : "การเพิ่มล้มเหลว",
                "การเพิ่มล้มเหลว",
                {
                  confirmButtonText: "确定",
                  callback: (action) => {
                    this.$message({
                      type: "error",
                      message: "การเพิ่มล้มเหลว",
                    });
                  },
                }
              );

              //关闭添加弹窗
              this.cancel();
            });
        } else {
            console.log('error submit!!');
            return false;
        }
      });
    },
    cancel() {
      //   this.fundForm={
      //     cash: 0,
      //     expend: 0,
      //     income: 0,
      //     date: Date.now(),
      //     describe: "",
      //     remark: "",
      //     type: "",
      //   }
      this.dialog.show = false;
    },
  },
  data() {
    var validatePassMoney = (rule, value, callback) => {
      let regex = /(^[1-9](\d+)?(\.\d{1,2})?$)|(^0$)|(^\d\.\d{1,2}$)/;
      if (!value.toString().match(regex)) {
        //正则验证先转化为string
        callback(new Error("กรุณากรอกจำนวนเงินให้ถูกต้อง"));
      } else {
        value = value * 1; //验证后转回num 准备入库
        callback();
      }
    };
    return {
      formLabelWidth: "120px",
      //   fundForm: this.fundFormData,
      rules: {
        describe: [
          {
            required: true,
            message: "คำอธิบายต้องไม่ว่างเปล่า",
            trigger: "blur",
          },
        ],
        income: [
          {
            validator: validatePassMoney,
            trigger: "blur",
          },
        ],
        expend: [
          {
            validator: validatePassMoney,
            trigger: "blur",
          },
        ],
        cash: [
          {
            validator: validatePassMoney,
            trigger: "blur",
          },
        ],
        type: [
          {
            required: true,
            message: "วิธีต้องไม่ว่างเปล่า",
            trigger: "blur",
          },
        ],
      },

      pickerOptions: {
        shortcuts: [
          {
            text: "วันนี้",
            onClick(picker) {
              picker.$emit("pick", new Date());
            },
          },
          {
            text: "เมื่อวานนี้",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24);
              picker.$emit("pick", date);
            },
          },
          {
            text: "อาทิตย์ที่แล้ว",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", date);
            },
          },
        ],
      },
    };
  },
  props: {
    dialog: Object,
    fundForm: Object,
  },
};
</script>

<style>
</style>