<template>
  <el-row class="menu_page">
    <el-col>
      <el-menu
        class="el-menu-vertical-demo"
        background-color="#324057"
        text-color="white"
        active-text-color="#409eff"
      >
        <router-link to="/home">
          <el-menu-item index="0">
            <i class="fa fa-margin fa-server"></i>
            <span slot="title">หน้าแรก</span>
          </el-menu-item>
        </router-link>
        <template v-for="item in menu">
          <el-submenu v-if="item.children" :index="item.path" :key="item.path">
            <template slot="title">
              <i :class="item.icon"></i>
              <span slot="title">{{ item.name }}</span>
            </template>
            <router-link
              v-for="(childrenItem, index) in item.children"
              :to="childrenItem.path"
              :key="index"
            >
              <el-menu-item :index="childrenItem.path">
                <span slot="title">{{ childrenItem.name }}</span>
              </el-menu-item>
            </router-link>
          </el-submenu>
        </template>
      </el-menu>
    </el-col>
  </el-row>
</template>

<script>
export default {
  name: "LeftMenu",
  data() {
    return {
      menu: [
        {
          icon: "fa fa-margin fa-credit-card",
          name: "การจัดการเงิน",
          path: "fund",
          children: [
            {
              path: "fundlist",
              name: "บันทึกรายรับและรายจ่าย",
            },
          ],
        },
        {
          icon: "fa fa-margin fa-asterisk",
          name: "การจัดการข้อมูล",
          path: "infomation",
          children: [
            {
              path: "info",
              name: "ข้อมูลส่วนบุคคล",
            },
          ],
        },
      ],
    };
  },
};
</script>

<style scoped>
.menu_page {
  position: fixed;
  top: 71px;
  left: 0;
  min-height: 100%;
  background-color: #324057;
  z-index: 99;
}
.el-menu {
  border: none;
}
.fa-margin {
  margin-right: 5px;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 180px;
  min-height: 400px;
}
.el-menu-vertical-demo {
  width: 35px;
}
.el-submenu .el-menu-item {
  min-width: 180px;
}

.hiddenDropdown,
.hiddenDropname {
  display: none;
}
a {
  text-decoration: none;
}
</style>